[submodule "thirdparty/SeetaFaceEngine"]
	path = thirdparty/SeetaFaceEngine
	url = git@github.com:seetaface/SeetaFaceEngine.git
[submodule "thirdparty/SeetaFaceEngine2"]
	path = thirdparty/SeetaFaceEngine2
	url = git@github.com:seetaface/SeetaFaceEngine2.git
